.DS_Store
.env
.venv
.flaskenv
*.pyc
*.pyo
env/
env*
../SpotifyApi/venv/
venv*
app.yaml
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
app.yaml
.gcloudignore
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover