<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anil Yilmaz - Spotify Api</title>
      <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon" />
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/datatables.min.css') }}" >

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Ana Sayfa<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<script src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/lib/popper.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/lib/datatables.min.js') }}" ></script>

{% block content %}
{% endblock %}
</body>
</html>